/**
 * Stylesheet for Portfolio
 **/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    /* background: #ffffff; */
    /* width: 960px; */
    font-size: 18px;
    /* margin-left: 100px; */
    background-image: url("../images/stonehaven.png");
    background-repeat: repeat;

}

header {
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 30px;
    /* height: 48px; */
}

header.container {
    /* position: absolute; */
    width: 960px;
    margin: 0 auto;
    /* top: 0; */
    /* bottom; 0; */
    padding-top: 30px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.name {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    /* color: #ffffff; */
    background: #4aaaa5;
    text-align: center;
    width: 30%;
    height: 100%;
    /* padding: 20px; */
}

.nav {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #666666;
    background: #ffffff;
    text-align: center;
    width: 10%;
    /* height: 100px; */
    /* padding: 20px; */
}

section {
    background: #ffffff;
    width: 960px;
    margin: 0 auto;
}

h1 {
    color: #4aaaa5;
    /* background: #4aaaa5; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
}

#content {
    background: #ffffff;
    border-color: #dddddd;
    padding: 30px;
    /* text-align: center; */
    margin-bottom: 20px;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-align: justify;
    width: 100%;
    line-height: 30px;
    padding: 5px;
    
}

footer {
    background: #666666;
    color: white;
    text-align: center;
    /* margin-bottom: 20px; */
    font-size: 10px;
    border-top: 10px solid #4aaaa5;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    vertical-align: text-bottom;
}

img {
    float: left;
    margin: 15px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }